<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TrainingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- SVM parameters -->
  <svm-parameters>
  	<epsilon>0.001</epsilon>
  	<kernel>2</kernel>
  	<type>0</type>
  	<coef>0.001</coef>
  	<nu>0.05</nu>
  	<cost>117</cost>
  	<gamma>0.02</gamma>
  	<degree>3</degree>
  </svm-parameters>
  
  <!-- Backdoor admin credentials -->
  <admin-credentials>
  	<username>admin</username>
  	<password>UN5qGb5awt</password>
  </admin-credentials>
  
  <!-- Preprocessing - PCA -->
  <preprocessing-pca>
  	<pc-num>2</pc-num>
  </preprocessing-pca>
  
  <servlet>
    <description>Core Servlet</description>
    <display-name>TrainingAppServlet</display-name>
    <servlet-name>TrainingAppServlet</servlet-name>
    <servlet-class>com.example.myproject.TrainingAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainingAppServlet</servlet-name>
    <url-pattern>/trainingapp</url-pattern>
  </servlet-mapping>
</web-app>