<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TrainingApp</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- SVM parameters -->
  <svm-parameters>
  	<epsilon>0.001</epsilon>
  	<kernel>2</kernel>
  	<type>0</type>
  	<coef>0.001</coef>
  	<nu>0.05</nu>
  	<cost>117</cost>
  	<gamma>0.02</gamma>
  	<degree>3</degree>
  </svm-parameters>
  
  <!-- Backdoor admin credentials -->
  <admin-credentials>
  	<username>admin</username>
  	<password>UN5qGb5awt</password>
  </admin-credentials>
  
  <!-- Preprocessing - PCA -->
  <preprocessing-pca>
  	<pc-num>2</pc-num>
  </preprocessing-pca>
  
  <!-- Servlets -->
  <servlet>
    <description>TrainingAppServlet</description>
    <display-name>TrainingAppServlet</display-name>
    <servlet-name>TrainingAppServlet</servlet-name>
    <servlet-class>com.training.core.TrainingAppServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SVMServlet</description>
    <display-name>SVMServlet</display-name>
    <servlet-name>SVMServlet</servlet-name>
    <servlet-class>com.training.svm.SVMServlet</servlet-class>
  </servlet>
  <servlet>
    <description>PreprocessServlet</description>
    <display-name>PreprocessServlet</display-name>
    <servlet-name>PreprocessServlet</servlet-name>
    <servlet-class>com.training.preprocess.PreprocessServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.training.user.UserServlet</servlet-class>
  </servlet>
  
  <!-- Servlet mappings --> 
  <servlet-mapping>
    <servlet-name>TrainingAppServlet</servlet-name>
    <url-pattern>/trainingapp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SVMServlet</servlet-name>
    <url-pattern>/trainingapp/svm/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreprocessServlet</servlet-name>
    <url-pattern>/trainingapp/preprocess/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/trainingapp/user/*</url-pattern>
  </servlet-mapping>
</web-app>